body{
    background-color: rgb(26, 26, 26);
    margin: 0%;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    height: 55px;
    color: white;

}

i{
    color: rgb(255, 255, 255);
    cursor: pointer;
}

#upload-btn{
    background-color: black;
    font-size: 3vh;
}